/* Grid Layout Styles */
.suggestions-grid {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-bottom: 32px;
}

.suggestions-status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.suggestions-table-section{
    margin-bottom: 32px;
}